button {
  padding: 10px 14px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 999rem;
  background: #4285F4;
  color: white;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: inherit;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

button:hover {
  background: #007dd3;
}
